<form action="" onsubmit="convert(event, 'length')" id="length-form">
  <div>
    <label for="length">Enter the length to convert</label>
    <input type="text" id="length" name="length" />
  </div>

  <div>
    <label for=""> Unit to convert from </label>

    <select name="length-from" id="from">
      <option value="m">Metres</option>
      <option value="km">Kilometres</option>
      <option value="mi">Miles</option>
      <option value="ft">Feet</option>
    </select>
  </div>

  <div>
    <label for=""> Unit to convert to </label>

    <select name="length-to" id="to">
      <option value="m">Metres</option>
      <option value="km">Kilometres</option>
      <option value="mi">Miles</option>
      <option value="ft">Feet</option>
    </select>
  </div>

  <button type="submit">Convert</button>
</form>
