<form action="" onsubmit="convert(event, 'weight')" id="weight-form">
  <div>
    <label for="weight">Enter the weight to convert</label>
    <input type="text" id="weight" name="weight" />
  </div>

  <div>
    <label for=""> Unit to convert from </label>

    <select name="from" id="from">
      <option value="kg">Kilograms</option>
      <option value="g">Grams</option>
      <option value="mg">Milligrams</option>
      <option value="lb">Pounds</option>
      <option value="oz">Ounces</option>
    </select>
  </div>

  <div>
    <label for=""> Unit to convert to </label>

    <select name="to" id="to">
      <option value="kg">Kilograms</option>
      <option value="g">Grams</option>
      <option value="mg">Milligrams</option>
      <option value="lb">Pounds</option>
      <option value="oz">Ounces</option>
    </select>
  </div>

  <button type="submit">Convert</button>
</form>
